@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: url(./BMW1.png);
    background-size: cover;
    background-position: center;
    padding: 20px 10%;
    transition: background-image 0.3s;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo{
    width: 160px;
    cursor: pointer;
}

nav .btn{
    text-decoration: none;
    color: #fff;
    background: #333;
    padding: 15px 50px;
    border-radius: 30px;
}

.content{
    margin-top: 10%;
}

.content h2{
    color: red;
    font-size: 34px;
}

.content h1{
    font-size: 100px;
    color: #222;
    margin-top: -25px;
}

.content p{
    max-width: 380px;
    font-weight: 500;
    font-size: 14px;
    color: #555;
}

.content h3{
    margin-top: 30px;
    font-weight: 600;
    font-size: 24px;
}

.colour-select div{
    background: #333;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.colour-select{
    display: flex;
    margin-top: 30px;
}

.colour-select #red{
    background: red;
}

.colour-select #blue{
    background: blue;
}

.colour-select #black{
    background: black;
}